PORT=5050
MONGODB_URI=
ATLAS_URI=mongodb+srv://<username>:<password>@<cluster-url>/?retryWrites=true&w=majority&appName=lcc-app
DB_NAME=lccdata
CLIENT_URL=http://localhost:5173
JWT_SECRET=change-this-jwt-secret
JWT_EXPIRES_IN=7d
LOG_LEVEL=info
NODE_ENV=development
SEED_BRANCH_NAME=Headquarters
SEED_BRANCH_CODE=HQ
SEED_SUPER_ADMIN_NAME=System Super Admin
SEED_SUPER_ADMIN_EMAIL=superadmin@lcc.local
SEED_SUPER_ADMIN_PASSWORD=ChangeMe123!
